%div
  - if @parent.respond_to? :component_pictures
    = render :partial => "pictures_table", :locals => {:pictures => @parent.component_pictures, :delete => false}
  = render :partial => "pictures_table", :locals => {:pictures => @parent.my_pictures, :delete => true}

%div
  %form{:action => upload_picture_for_path(@parent), :method => :post, :enctype => 'multipart/form-data'}
    = file_field_tag "picture"
    %input{:type => :submit, :value => "Upload"}
