// Place all the styles related to the CommercialOffers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.detached_components > select {
    min-height: 100px;
    min-width: 300px;
}

.detached_components > * {
    display: block;
}