
.left {
    display: inline-block;
    width: 60%;
    vertical-align: top;
}

.right {
    display: inline-block;
    width: 35%;
    vertical-align: top;
}

.picture {
    max-width: 95px;
    height: auto;
}

textarea.content-editor {
    width: 100%;
    min-height: 300px;
    font-family: monospace;
    font-size: 1.4em;
}